body{
	background-color: #4f4f4f;
}

.top{
	position: relative;
	margin-top: 25px;
	width: 1800px;
	height: 160px;
	background-color: #8f8f8f;
	box-shadow: 10px 10px 10px black ;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#doft{
	width: 500px;
	position: absolute;
	left: 20px;
	top: 8px;
}

#loupe{
	width: 280px;
	position: absolute;
	bottom: -23px;
	right: 50px;
}

#reload{
	width: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
}

#close{
	width: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.center{
	width: 1770px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}

.left{
	width: 165px;
	height: 500px;;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #8f8f8f;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.left img{
	margin-top: 15px;
	width: 80px;
}

#oeil{
	margin-top: 7px;
	width: 90;
	border: 6px solid red;
	border-radius: 5px;
}

.middle{
	z-index: 0;
	position: relative;
	width: 1320px;
	height: 750px;
	background-color: #8f8f8f;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;


}

.middle img{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 1300px;
}

.right{
	width: 165px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #8f8f8f;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.right img{
	margin-top: 20px;
	width: 85px;
}

#brick{
	margin-top: 15px;
	background-image: url("resources/brick.jpg");
	width: 120px;
	height: 70px;
}

.bottom{
	z-index: 1;
	position: relative;
	width: 620px;
	height: 200px;
	margin-left: 340px;
	margin-top: -110px;
	background-color: #88ff89;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.bottom p{
	padding-top: 10px;
	margin-left: 15px;
	font-size: 19px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#big{
	font-size: 44px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
}

#italic{
	font-style: italic;
}

#shadow{
	text-shadow: 5px 5px 5px red;
}

.mapeee{
	border: 2px solid black;
}

.answer{
	display: flex;
	align-items: center;
}

button{
	position: absolute;
	height: 23px;
	width: 85px;
	left: 465px;
	top: 104px;
	font-size: 15px
}

.box{
	margin-top: -15px;
	margin-left: 15px;
	width: 435px;
	height: 20px;
	background-color: white;
	border: 2px inset beige;
}